body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 122px;
  margin: 0 auto;
  padding: 70px 170px 0px 170.645px;
  box-sizing: border-box;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-center {
  /* Para centrar el grupo central */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  gap: 1.5rem;
}

.nav-left li,
.nav-right li,
.nav-center li {
  margin: 0 1rem;
}

.navbar a {
  text-decoration: none;
  color: black;
}



.navbar li:hover {
    cursor: pointer;
}